<title>Lojas Sem Nada</title>

<%- include('partials/navbar.ejs') %>
<%- include('partials/header.ejs') %>

    <h1>Bem-vindo a Homepage!</h1>
    <hr>
    <p>Lojas Sem Nada!</p>

    <!-- Importando a imagem da pasta public -->
     <img src="/images/renan.jpg" alt="renan">

<%- include('partials/footer.ejs') %>