<%- include('partials/navbar.ejs') %>
<%- include('partials/header.ejs') %>

    <h1>Bem-vindo a Homepage!</h1>
    <hr>
    <p>Iniciando estudos com o Node.js...</p>

    <!-- Importando a imagem da pasta public -->
     <img src="/images/renan.jpg" alt="renan">

<%- include('partials/footer.ejs') %>